<% include partials/header %>

<section class="section">

    <div class="offer-header">
        <div class="header-content">
            <div class="header-content-inner">
                <center><h4>Dette tilbudet er dessverre fullbooket. Følg oss på <a href="https://www.facebook.com/mobilservicenorge/" style="color: #4092d8">Facebook</a> for å delta på neste tilbud.</h4></center>
                <div class="container">
                <center><div id="undertext"><h3></h3></div></center>
                </div>
            </div>
            </div>
            </div>
            
            <div>

</div>

    </section>

    
<% include partials/footer %>