<% include partials/header %>

<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Våre mekanikere kommer til deg</h1>
                <span class="undertekst"><h3>
                  Få en fastpris på forhånd og få bilen fikset hjemmet eller på kontoret.</h3></span>
                <p></p>
                <a href="/new"><div class="button-0">Bestill service</div></a>
                <span class="ring-button"><a href="tel:+4794032823"><div class="button-0">Ring oss</div></a><span>
            </div>
        </div>
    </header>
    
    <section class="section">
    <div class="container">
        <div class="row">
            <h1>Hvordan fungerer det?</h1>
            <p>Få fikset bilen din hjemme eller på kontoret. Våre mekanikere kommer akkurat der du befinner deg. Det er utrolig enkelt.</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive img-center" src="/img/velg.jpg" alt="Velg service">
                <h2>Velg service</h2>
                <p>Velg den servicen bilen din trenger og fortell oss når og hvor du vil at vi skal komme.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-center" src="/img/fastpris.jpg" alt="Få fastpris">
                <h2>Få fastpris</h2>
                <p>Basert på den servicen du vil ha vil vi gi deg en fastpris. På denne måten vet du akkurat hvor mye du må betale når jobben er gjort.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive img-center" src="/img/service.jpg" alt="Få service">
                <h2>Få service</h2>
                <p>En av våre mekanikere kommer til deg til avtalt tid for å utføre service på bilen din. Det var det! Du har spart både tid og penger ved å bruke oss!</p>
            </div>
        </div>
    </div>
    </section>
            
    <section class="section">
        
        
<div class="container">
    
    <div class="row">
            <h1>Velg service</h1>
            <p>Vi tilbyr flere service pakker. Velg det som passer deg best.</p>
        </div>
    
    <div class="col-md-4">
        <div class="well">
          <h3 class="text-primary"><span class="label label-primary pull-right">490,-</span>Innvendig vask</h3>
          <ul>
            <li>Støvsuging hele bilen</li>
            <li>Rengjøring av dashboard</li>
            <li>Vindusvask</li>
            <li>Vask av matter</li>
        </ul>
        </div>
        </div>
    
    <div class="col-md-4">
        <div class="well">
          <h3 class="text-primary"><span class="label label-primary pull-right">750,-</span>Dekkskifte</h3>
          <ul>
            <li>Vi skifter alle slags dekk</li>
            <li style="list-style:none"><br></li>
            <li style="list-style:none"><br></li>
            <li style="list-style:none"><br></li>
        </ul>
        </div>
        </div>
        
        <div class="col-md-4">
        <div class="well">
          <h3 class="text-primary"><span class="label label-primary pull-right">790,-</span>Oljeskift</h3>
          <ul>
            <li>Rikitg, høykvalitets olje</li>
            <li>Høy kvalitet oljefilter bytte</li>
            <li>Væskenivåkontroll</li>
            <li style="list-style:none"><br></li>
        </ul>
        </div>
        </div>
    
<div class="col-md-4">
        <div class="well">
          <h3 class="text-primary"><span class="label label-primary pull-right">3690,-</span>Standard Service </h3>
          <ul>
            <li>Oljeskift</li>
            <li>Skifte av bensin- /dieselfilter</li>
            <li>Skifte av luftfilter</li>
            <li>Diagnose av bilens tilstand</li>
        </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <h3 class="text-primary"><span class="label label-primary pull-right">3990,-</span>VIP Service </h3>
          <ul>
            <li>Alt i Standard pluss:</li>
            <li>Utvendig vask</li>
            <li>Støvsuging</li>
            <li style="list-style:none"><br></li>
        </ul>
        </div>
        </div>
        <div class="row">
            
        </div>
                            <div class="row">
                        <a href="/new"><div class="button-0">Bestill service</div></a>
                    </div>
        
        </div>


    </section>
    
    <section class="section">
    <div class="container bootstrap snippet">
    <div class="row">
        <h1>Hva sier våre kunder om oss?</h1>

            <div class="col-md-2"></div>
            <div class="col-md-4">
                <a href="#">
                    <img class="img-responsive" src="/img/customers/ida.jpg" alt="">
                </a>
                <h3>
                    <center><img src="/img/stars/5:5.png"></center>
                </h3>
                <p>Genialt konsept som vi kommer til å benytte oss av igjen! Så smart at de kommer hjem til deg for å gjøre jobben!! <p style="text-align: right; margin-top: -24px">- Ida</p></p>
            </div>
        
            <div class="col-md-4">
                <a href="#">
                    <img class="img-responsive" src="/img/customers/karen.jpg" alt="">
                </a>
                <h3>
                    <center><img src="/img/stars/5:5.png"></center>
                </h3>
                <p>Flott service og helt ren bil, mens jeg var inne med barn. <p style="text-align: right">- Karen</p></p>
            </div>
            <div class="col-md-2"></div>


			
	</div><!--/.row-->
</div>
    </section>


<% include partials/footer %>