<% include partials/header %>

<style>
    .done-header {
    margin-top: -55px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #fff;
    background: no-repeat center center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://spellbound.no/ms/takk-bg.jpg');
    background-position: 30% 20%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.done-header .header-content {
    top: 35%;
    position: relative;
    width: 100%;
    text-align: center;
}

.done-header .header-content .header-content-inner h1 {
    text-transform: uppercase;
    font-weight: 400;
}

.done-header .header-content .header-content-inner hr {
    margin: 30px auto;
}

.done-header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}
</style>

<section class="section">
        <div class="done-header">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Takk for din bestilling!</h1>
                <p>Vi har mottatt din bestilling og du vil innen kort tid få en bekreftelse på SMS.<br>
                   Våre mekanikere vil ta kontakt med deg minst 2 timer før de ankommer stedet.<br>
                   Har du spørsmål eller lurer på noe, ta kontakt med kundeservice så hjelper vi deg gjerne.</p>
            </div>
        </div>
    </div>
    
    
    <div class="container">
    <div class="row"></div>

    
<% include partials/footer %>