<% include partials/header %>

<section class="section">
    <div class="join-header">
        <div class="header-content">
                <div class="container">
                    <h1>Join Mobil Service</h1>
                    <div class="col-md-6">
                        <h3>Våre mekanikere tjener bra og får tilgang til mange jobber, helt gratis.</h3>
                        <h3>Vi er alltid på utkikk etter gode og pålitelige mekanikere med erfaring.</h3>
                        <p><a href="/apply" class="btn btn-lg btn-success" role="button">Send inn søknad nå</a></p>
                    </div>
                    <div class="col-md-6">
                        
                        <div class="offer">
                        
                            <div class="panel-body">
                                <h3>Vi tilbyr:</h3>
                                <ul>
                                    <li>Konkurransedyktig lønn</li>
                                    <li>Full fleksibilitet</li>
                                    <li>God erfaring</li>
                                </ul>
                            </div>
                        </div>
                            
                        
                    
                    </div>
                </div>
        </div>
    </div>
    <div class="container">
        <div class="job-desc">
            <div class="container">
            <div class="row">
                <h3>Mekaniker</h3>
                <h4>Lokasjon: Oslo, Norway</h4>
            </div>
            <hr>
            <div class="row">
                <h3>Jobb med biler når du selv ønsker</h3>
                
                <h5>Planlegg dine arbeidstider selv, få oppdrag på din smarttelefon og tjen penger!<br>
                Som mekaniker for Mobil Service er du vårt ansikt utad. Vi forventer høy standard av våre mekanikere.</h5>
            </div>
            
            <div class="row">
                <h4>Pålitelig</h4>
                <ul>
                    <li>
                        Pålitelighet og punktlighet er en forutsetning
                    </li>
                    <li>
                        Du er løsningsorientert og har en stå-på-holdning
                    </li>
                    <li>
                        Du må disponere egen bil
                    </li>
                    <li>
                        Du må ha en smarttelefon med god batterikapasitet (IOS/Android, ikke Windows)
                    </li>
                </ul>
            </div>
            
            <div class="row">
                <h4>Serviceorientert</h4>
                <ul>
                    <li>
                        Du gjør ditt ytterste for en god kundeopplevelse
                    </li>
                    <li>
                        God kommunikasjon er en forutsetning for en god kundeopplevelse. Du må beherske norsk og engelsk.
                    </li>
                </ul>
            </div>
            
            <div class="row">
                <h4>Profesjonell</h4>
                <ul>
                    <li>
                        Du er stolt av ditt yrke og tar vare på dine verktøy og søker kontinuerlig forbedring
                    </li>
                    <li>
                        Du viser hensyn overfor omgivelsene og forstår at du er Mobil Service sin ansikt utad
                    </li>
                </ul>
            </div>
            
            <div class="row">
                <h4>Er dette noe for deg? Vi tilbyr:</h4>
                <ul>
                    <li>
                        En spennende, morsom og aktiv jobb der du møter mange mennesker
                    </li>
                    <li>
                        Du viser hensyn overfor omgivelsene og forstår at du er Mobil Service sin ansikt utad
                    </li>
                    <li>
                        Et ungt, dynamisk og spennende team i vekst med mulighet til å vokse innad i Mobil Service
                    </li>
                    <li>
                        Fleksible arbeidstider (dag og kveld, ukedag og helg)
                    </li>
                </ul>
            </div>
            
            <div class="row">
                <p><a href="/apply" class="btn btn-lg btn-success" role="button">Søk på denne stillingen</a></p>
            </div>
            </div>
    </div>
    </div>
</section>
    
<% include partials/footer %>