<% include partials/header %>

<section class="section">

    <div class="how-header">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Hvordan fungerer Autoservo?</h1>
                <div class="container">
                <div id="undertext"><h3>Tilbudet vårt er enkelt og greit forklart at vi kommer med vår mobile servicebil og foretar service på bilen din, der den står, enten hjemme hos deg eller på jobben din.</h3></div>
                </div>
            </div>
            </div>
            </div>
            
            <div>

</div>

            <p></p>
                        
</div>
</div>
    </section>
    
    
    
    
    <section class="section">
        
        
<div class="container">
    
    <div class="row">
            <h1>1. Velg service</h1>
        </div>
    
    
<div class="col-md-4">
        <div class="well">
          <h3 class="text-primary"><span class="label label-primary pull-right">3690,-</span>Standard Service </h3>
          <ul>
            <li>Oljeskift</li>
            <li>Skifte av bensin- /dieselfilter</li>
            <li>Skifte av luftfilter</li>
            <li>Diagnose av bilens tilstand</li>
        </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <h3 class="text-primary"><span class="label label-primary pull-right">3990,-</span>VIP Service </h3>
          <ul>
            <li>Alt i Standard pluss:</li>
            <li>Utvendig vask</li>
            <li>Støvsuging</li>
            <li style="list-style:none"><br></li>
        </ul>
        </div>
        </div>

<div class="col-md-4">
        <div class="well">
          <h3 class="text-primary"><span class="label label-primary pull-right">750,-</span>Dekkskifte </h3>
          <ul>
            <li>Vi skifter alle slags dekk</li>
            <li style="list-style:none"><br></li>
            <li style="list-style:none"><br></li>
            <li style="list-style:none"><br></li>
        </ul>
        </div>
        </div>

        </div>


    </section>


<section class="section">
        
        
<div class="container">
    <div class="row"><br></div>
    <div class="row">
            
            <div class="container">
                
                <h1>2. Velg dato, tidspunkt og sted</h1>
            <center><h3>Vi utfører service hver dag fra 08:00 - 16:00.<br>Du kan bruke din hjemme- eller kontoradresse. Velg det som passer deg best.</h3></center>
                <center>
                    <img  src="img/2.jpg" class="img-responsive" alt="Responsive image"></center>
            </div>
            
        </div>
        <div class="row"><br></div>
        
        <div class="row">
            
            <div class="container">
                
                <h1>3. Få fastpris</h1>
            <center><h3>Fastpris på forhånd ink MVA! Ingen overraskelser! 100 % fornøyd garanti!</h3></center>
            <center>
                    <img  src="img/3.jpg" class="img-responsive" alt="Responsive image"></center>
            </div>
            
        </div>
        
        <div class="row"><br></div>
        
        
        <div class="row">
            
            <div class="container">
                
                <h1>4. En mekaniker kommer til deg</h1>
            <center><h3>Mekanikeren ringer før ankomst og kommer til avtalt sted og tid.</center></h3>
                <center>
                    <img  src="img/4.jpg" class="img-responsive" alt="Responsive image"></center>
            </div>
            
        </div>
        
        <div class="row"><br></div>
        
        <div class="row">
            <div class="container">
            <h1 style="font-size: 50px;">5. Vipps, det var det!</h1>
            <center><h3>Bilen din er fikset. Gratulerer! Du har spart både tid og penger!</h3></center>
            <center>
                    <img  src="img/5.jpg" class="img-responsive" alt="Responsive image"></center>
        </div>
        </div>
        
        <div class="row">
            <h1>Klar til å prøve?</h1><div class="row"></div>
                        <center>
                        <a href="/new" ><div class="button-0">Bestill Service</div></a>
                        </center>
                    </div>
        
        
        </div>

</section>
    
<% include partials/footer %>